program superCool;

fun cero(paramUno: char, paramDos:int) : char {

  return 'c';
}

fun uno(paramUno: char, paramDos:int) : char {

  return paramUno;
}

main {
  var x, t : char;
  var i : int;
  x = uno(x, i);
}
