program fibRecursive;

fun fibonacci(n:int) : int {
  var a: int;
    if(n == 0){
        return 0;
    } else {
      if(n == 1){
        return 1;
      } else {
        return fibonacci(n - 1) + fibonacci(n - 2);
      };
    };
}

main {
    var fib : int;
    print("Ingresa el numero para obtener su fibonacci recursivamente: ");
    read(fib);
    println("El fibonacci de ", fib, " es: ", fibonacci(fib));
}
