program find;

fun find(valor: char, arrChar[10] : char) : bool{
    var i : int;
    i = 0;

    while(i < 10){
        if (arrChar[i] == valor){
            return true;
        };
        i = i + 1;
    };
    return false;
}

main{
    var arr[10] : char;
    var i : int;
    var val : char;
    i = 0;
    println("Ingresa 10 caracteres separados por un enter: ");
    while(i < 10){
        read(arr[i]);
        i = i + 1;
    };

    print("Ingresa el caracter que se buscara en el arreglo: ");
    read(val);
    if (find(val, arr)){
        print("Se encontro: ", val);
    } else {
        print("No se encontro: ", val);
    };

}