program matrixMult;

fun multMatrices(a[2][3]:int, b[3][2]:int):void {
    var r1, c1, r2, c2, i, j, k, temp: int;
    var c[2][2]:int;
    r1 = 2;
    c1 = 3;
    r2 = 3;
    c2 = 2;
    if (c1 != r2) {
        println("Las matrices no pueden ser multiplicadas.");
    }	
    else {
        println("Ingresa los elementos de la matriz A[2][3] : ");
        i = 0;
        while (i < r1) {
            j = 0;
            while (j < c1) {
                read(a[i][j]);
                j = j + 1;
            };
            i = i + 1;
        };
        println("Ingresa los elementos de la matriz B[3][2] : ");
        i = 0;
        while (i < r2) {
            j = 0;
            while (j < c2) {
                read(b[i][j]);
                j = j + 1;
            };
            i = i + 1;
        };

        i = 0;
        while (i < r1) {
            j = 0;
            while (j < c2) {
                k = 0;
                c[i][j] = 0;
                while (k < r2) {
                    temp = c[i][j];
                    c[i][j] = temp + a[i][k] * b[k][j];
                    k = k + 1;
                };
                j = j + 1;
            };
            i = i + 1;
        };

        println("Producto de matrices: ");
        i = 0;
        while (i < r1) {
            j = 0;
            while (j < c2) {
                print(c[i][j], " ");
                j = j + 1;
            };
            println();
            i = i + 1;
        };
    };
}

main {
    var arr1[2][3]:int;
    var arr2[3][2]:int;
    multMatrices(arr1, arr2);
}