program test27;

main{
    var arr[11] : int;
    var i: int;
    arr[0] = 1;
    arr[1] = 1;
    arr[2] = 3;
    arr[3] = 3;
    arr[4] = 1;
    arr[5] = 2;
    arr[6] = 2;
    arr[7] = 2;
    arr[8] = 2;
    arr[9] = 6;
    print("Pow 3 ^ 3: ", 2 * pow(20.0 + 5, - 2.0));
    print("Pow 3 ^ 3: ", sqrt(25.0,2.0));
    print("Mode: ", mode(arr));
    print("Prob: ", prob(arr, 2));
    print("Moment: ", moment(arr, 4));
    print("Median: ", median(arr));
    print("Var : ", var(arr));
    print("Exp bernoulli : ", exp_bernoulli(0.7));
    print("Var bernoulli : ", var_bernoulli(0.7));
    print("Prob binomial : ", prob_binomial(0.5, 10, 5));
    print("Exp binomial : ", exp_binomial(0.5, 10));
    print("Var binomial : ", var_binomial(0.23, 10));
    print("Prob geometric : ", prob_geometric(0.3, 10));
    print("Exp geometric : ", exp_geometric(0.3));
    print("Var geometric : ", var_geometric(0.3));
    plot_histogram(arr);
}