program test11;

main {
  var i:int;
  var c:char;
  var f:float;
  var b:bool;

  println("i: ", i);
  println("c: ", c);
  println("f: ", f);
  println("b: ", b);
}

// resultados esperados:
// i: 0
// c: a
// f: 0.0
// b: false
