program test15;
var arr[3][2]:int;
main {
  var i, j:int;
  i = 0;
  while (i < 3) {
    j = 0;
    while (j < 2) {
      read(arr[i][j]);
      j = j + 1;
    };
    i = i + 1;
  };
  i = 0;
  while (i < 3) {
    j = 0;
    while (j < 2) {
      arr[i][j] = arr[i][j] + arr[i][j];
      print(arr[i][j]);
      j = j + 1;
    };
    i = i + 1;
  };
}
