program test23;

main{
    var i, y: int;
    println(-((-((88 / -11)) + 100) - -92)* 5);
    println(-(-(-(92))));
    println((-(-(-(92))) - 8) / 2 - 1 * 5 - 500);
    println((-(-(-(92.5))) - 8) / 2.5 - 1 * 5.1 - 500);
}

// Res:
// -1000 
// -92
// -555
// -545.3